@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    
}

.nav-bar ul li a{
    color: black;
}

.orange-color{
    color: orange;
}

.flexible-container{
    display: flex;
    margin-bottom: 150px;
}


.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(87, 46, 201), rgb(56, 106, 216));
    padding: 5px 5px;
    color: white;
    font-weight: 400;
    border-radius: 5px;
}

.section-three{
    background-repeat: no-repeat;
    background-position: left;
}

.div-three{
    padding-left: 7%;
     width: 100%;
 }
 .div-three img{
    width: 100%;
}

.card{
    border: none;
}

.self-style{
    margin: 10rem auto;
}

.bg-button{
    background-color: cadetblue;

}

.bg-footer{
    background-color: rgb(1, 1, 12);
   
}